  <?xml version="1.0"?>
  <model>
  <name>3DR s2000_hitl</name>
  <version>1.0</version>
  <sdf version='1.6'>s2000_hitl.sdf</sdf>


  <author>  
  <name>Lorenz Meier and Thomas Gubler</name>
  <email>lorenz@px4.io</email>
  </author>


  <description>
  This is a model of the 3DR s2000_hitl Octocopter. The original model has been created by
  Thomas Gubler and is maintained by Lorenz Meier.
  </description>
  </model>
